.container{
    position: absolute;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    background-color: #dce4f0;
    overflow-x: hidden;
}

#header_component{
    width:100vw;
    z-index: 500;
    margin:0 auto;
    position: sticky;
    top: 0;
}

#sidebar_component{
    z-index: 499;
    position: fixed;
    left: 0;
}

#container_component{
    padding-top: 1vh;
    z-index: 400;
    position:absolute;
    margin-left: 90px;
    width: 93.6vw;
}
