.Register-header {
    width: 100vw;
    height: 12vh;
    justify-self: center;
    background-color: #FFFF;
    display: flex;
    z-index: 0;
}

.register-header {
    width: 100vw;
    /* height: 64px; */
    /* background-color: white; */
    color: #141E8C
}

.zeiss_logo {
    position: relative;
    left: 1.25vw;
    right: 97.08%;
    top: 25%;
    bottom: 25%;
}

/* h1 {
    display: inline;
    margin-right: 50vw
} */

.Profile {
    /* background-color: #8495b0; */
    direction: rtl;
    position: relative;
    padding-top: 2vh;
    padding-left: 3vh;
    padding-right: 4vh;
    padding-bottom: 3vh;
    text-align: center;
    justify-items: center;
    display: flex;
    width: 50%;
    /* margin-left: auto; */

    /* justify-content: space-between; */
    /* margin-left: 2.5%;  */
    /* background-color: aqua; */
}

#Name {
    padding-top: 1.75vh;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 2.3vh;
    line-height: 20px;
    padding-right: 2vh;
    padding-left: 2vh;
}

#Init {
    display: flex;
    background-color: #8495b0;
    color: aliceblue;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 400;
    font-size: 2.3vh;
    /* padding-top: 1.75vh; */
    min-width: 6vh;
    width: auto;
    height: 6vh;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
}