.upcoming_meetings{
    display: flex ;
    flex-direction: column;
    margin-left: 1vw;
    margin-top: 1vh;
    padding: 0;
    width: 90vw;
    height:auto;
    box-sizing: border-box;
    background-color:#FFFF;
    /*
    text-align: center;
    align-items: center; */

}

.heading{
    color: black;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 350;
    /* color: white; */
}

hr{
    /* position: relative; */
    color: black;
    border: 1px solid #EDF2F7;
    width: 95%;  
}

.meetings{
    
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    margin-right: auto;
    margin-left:auto;
}

.meetings h4{
    color: #A5B1C2;
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 350;
    margin-top: -1vh;
    margin-right:auto ;
    margin-left: auto;
    width: 75%;
    text-align: center;
}
#logo{
    /* position: relative; */
    
    margin-right:auto ;
    margin-left: auto;
}