.event-card {
  /* background-color: #dbeafa; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  border: 2px solid #EDF2F7;
  width: 450px;
  padding: 25px;
  margin-right: 10px;
}

.event-header {
  /* background-color: #aecae9; */
  display: flex;
  flex-direction: row;
}

.event-header p {
  margin-top: 0px;
  display: flex;
  flex-direction: row;
  margin-right: auto;
}

#event-header-calendar{
    margin-right: 50px;
}

.event-header img {
  margin-right: 5px;
}

#event-title {
  font-weight: 350;
  font-size: 20px;
  margin:0px;
  margin-bottom:10px
}

#event-invite-title {
  display: inline;
  color: #828d9e;
}

#event-invite-name {
  font-size: 14px;
  font-weight: 400;
  margin-top: 0px;
  margin-bottom: 20px;
}

.event-footer{
    display: flex;
    flex-direction: row;
}

.event-footer a {
  display: inline-block;
  font-weight: 600;
  font-size: 14px;
  margin-right: 10px;
  text-decoration: underline;
}

.event-footer img{
    width: 16px;
    height: 16px;
    margin-right: 5px;
}

.event-footer button{
    margin-left: auto;
    height: 40px;
    width: 100px;
}
