.Sidebar-container{
    display: flex;
    flex-direction: column;
    background-color: #262E36;
    width: 3.5vw;
    height:88vh;
    margin-top: auto;
    justify-content: space-between;
    align-self: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    
    /* flex: 1; */
    /* how much margin should i add */
}

.meet_logo{
    align-self: flex-start;
}

.expand_logo{
    align-self: flex-end;
}
